:root {
  /* colors */
  --clr-dark-blue-1: #262E38;
  --clr-dark-blue-2: #131518;
  --clr-grey-1: #969FAD;
  --clr-grey-2: #7C8798;
  --clr-orange: #FC7614;
  --clr-white: #FFFFFF;
  --grd-black: radial-gradient(#232A34, #181E27);
}

/*-------
Reset
-------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  height: 100vh;
}

img {
  width: 100%;
}

body {
  font-size: 1.6rem;
  line-height: 2.4rem;
  background-color: var(--clr-dark-blue-2);
  color: var(--clr-grey-2);
  font-family: 'Overpass', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
}

/*---------
Components
----------*/
.card {
  background: var(--grd-black);
  border-radius: 30px;
  max-width: 40rem;
  padding: 3.2rem;
}

.circle {
  border-radius: 50%;
  background-color: var(--clr-dark-blue-1);
  color: var(--clr-grey-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle--star {
  width: 4.8rem;
  height: 4.8rem;
}

.circle--rating {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  border: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.circle--rating:hover, .circle--rating:focus {
  color: var(--clr-white);
}

.circle--rating:hover {
  background-color: var(--clr-grey-2);
}

.circle--rating:focus {
  background: var(--clr-orange);
}

.img-default {
  width: 1.6rem;
}

.img-triggered {
  width: 16.2rem;
  padding-bottom: 30px;
}

.heading {
  font-size: 2.8rem;
  padding: 30px 0 15px;
  color: var(--clr-white);
  font-weight: 700;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding: 3rem 0;
}

.btn {
  background-color: var(--clr-orange);
  color: var(--clr-white);
  outline: none;
  width: 100%;
  height: 4.5rem;
  border: none;
  border-radius: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.btn:hover {
  background-color: var(--clr-white);
  color: var(--clr-orange);
}

.section-triggered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-triggered p {
  text-align: center;
}

.selected-rating-container {
  background-color: var(--clr-dark-blue-2);
  color: var(--clr-orange);
  padding: .5rem 2rem;
  border-radius: 2.2rem;
}

@media (max-width: 35em) {
  .card {
    max-width: 32.5rem;
  }
  .rating {
    gap: 1.6rem;
  }
  .circle--rating {
    width: 3.8rem;
    height: 3.8rem;
  }
  .img-default {
    width: 1.3rem;
  }
  .img-triggered {
    width: 16.2rem;
  }
  .heading {
    font-size: 2.4rem;
  }
  .body {
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=style.css.map */